/* selector - propiedad - valor 
sector {
propiedad: valor
}

*/
p {
  color: rgb(185, 185, 185);
  font-size: 25px;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  font-style: oblique;
}
nav ul {
  list-style-type: none;
}
nav {
  text-align: right;
}

body {
  background-color: rgb(36, 36, 36);
}

h2 {
  color: white;
  text-align: left;
}

ul {
  color: rgb(255, 255, 255);
}
a {
  color: rgb(99, 68, 211);
  text-decoration: none;
}
h3 {
  color: white;
  text-align: left;
}
label {
  color: aliceblue;
}
footer p a {
  color: rgba(138, 138, 233, 0.521);
}

/* diferentes selectores
class "." reutilizables
ID "#" con un identificador unico
*/
#productos {
  display: flex;
}
#producto {
  display: inline-block;
  area
}
img {
  display: inline-block;
}
#promociones p {
  font-family: "Courier New", Courier, monospace;
}
